<h2><%= @meetup["name"] %></h2>
<!-- Add a [formatted below] -->
<h4>Start Time: <%= @meetup["start_time"] %></h4>
<!-- Add a [formatted below] -->
<h4>End Time: <%= @meetup["end_time"] %></h4>

<h4>Description: <%= @meetup["description"] %></h4>


<br>
<%= form_tag "/client/attendances", method: :post do %>
  <input type="hidden" name="meetup_id" value="<%= @meetup['id'] %>">
  <input type="hidden" name="user_id" value=1>


  <input type="submit" value="Join Meetup">
<% end %>


<a href="/client/meetups/<%= @meetup['id'] %>/edit">Edit</a>
<a href="/client/meetups/<%= @meetup['id'] %>" data-method="delete">Delete</a>