<h2>Name: <%= @event["name"] %></h2>
<h4>Location: <%= @event["location"] %></h4>
<h4>Description: <%= @event["description"] %></h4>

<br>
<%= form_tag "/client/events", method: :post do %>
  <input type="hidden" name="event_id" value="<%= @event['id'] %>">

<% end %>


<a href="/client/events/<%= @event['id'] %>/edit">Edit</a>
<a href="/client/events/<%= @event['id'] %>" data-method="delete">Delete</a>

<br>

<img src="<%= @apod["url"] %>">
<p><%= @apod["explanation"] %></p>




