<h2>Name: <%= @event["name"] %></h2>
<!-- Add a [formatted below] -->
<h4>Location: <%= @event["location"] %></h4>
<!-- Add a [formatted below] -->
<h4>Description: <%= @event["description"] %></h4>


<br>
<%= form_tag "/client/events", method: :post do %>
  <input type="hidden" name="event_id" value="<%= @event['id'] %>">

<% end %>

<!-- Might need to add meetup id here later -->

<a href="/client/events/<%= @event['id'] %>/edit">Edit</a>
<a href="/client/events/<%= @event['id'] %>" data-method="delete">Delete</a>