<!-- Add a [formatted below] -->
<h4>Name: <%= @location["name"] %></h4>
<!-- Add a [formatted below] -->
<h4>Longitude: <%= @location["longitude"] %></h4>
<h4>Latitude: <%= @location["latitude"] %></h4>


<!-- Add a description here -->

<br>
<%= form_tag "/client/locations", method: :post do %>
  <input type="hidden" name="location_id" value="<%= @location['id'] %>">

<% end %>

<!-- Might need to add meetup id here later -->

<a href="/client/locations/<%= @location['id'] %>/edit">Edit</a>
<a href="/client/locations/<%= @location['id'] %>" data-method="delete">Delete</a>